.offer-photo {
	width: 200px;
    height: 150px;
}

.offer-photo.of-image>img:hover {
}

.offer-photo.empty, .offer-photo.new {
    border: 2px dotted gray;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: gray;
    padding-top: 50px;
}

.offer-photo.new:hover {
    cursor: pointer;
}